DataFrame

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt 
from tqdm import trange, notebook

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [43]:
df_results=pd.read_csv("/content/drive/MyDrive/2022/BigData/results.csv")

## Results와 Ranking Join

In [44]:
df_results = df_results.loc[df_results['date']>='2014-01-01'].loc[df_results['date']<'2022-12-31']

In [45]:
df_results.dropna(axis=0)
df_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False
...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Canada,Morocco,1.0,2.0,FIFA World Cup,Doha,Qatar,True
44202,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44203,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44204,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44205,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True

In [46]:
# result table, ranking table 을 year 기준으로 join 하기 
df_results['date'] = pd.to_datetime(df_results['date'])
df_results['year'] = df_results['date'].dt.year
df_results.reset_index(drop=True)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True,2014
1,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True,2014
2,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False,2014
3,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False,2014
4,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False,2014
...,...,...,...,...,...,...,...,...,...,...
8092,2022-12-01,Canada,Morocco,1.0,2.0,FIFA World Cup,Doha,Qatar,True,2022
8093,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True,2022
8094,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True,2022
8095,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True,2022
8096,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True,2022

In [47]:
df_results = df_results.drop(df_results[(df_results['year'] == 2022) & (df_results['tournament'] == 'FIFA World Cup')].index)
# 2022 fifa world cup 경기 결과제거 
df_results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True,2014
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True,2014
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False,2014
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False,2014
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False,2014
...,...,...,...,...,...,...,...,...,...,...
44153,2022-11-20,Slovenia,Montenegro,1.0,0.0,Friendly,Ljubljana,Slovenia,False,2022
44154,2022-11-20,South Africa,Angola,1.0,1.0,Friendly,Mbombela,South Africa,False,2022
44155,2022-11-20,Saint Lucia,San Marino,1.0,0.0,Friendly,Gros Islet,Saint Lucia,False,2022
44156,2022-11-20,Syria,Venezuela,1.0,2.0,Friendly,Dubai,United Arab Emirates,True,2022
44157,2022-11-20,Uzbekistan,Russia,0.0,0.0,Friendly,Tashkent,Uzbekistan,False,2022

In [49]:
df_results = df_results.drop(['city','country'], axis=1)
df_results

,date,home_team,away_team,home_score,away_score,tournament,neutral,year
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,True,2014
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,True,2014
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,False,2014
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,False,2014
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,False,2014
...,...,...,...,...,...,...,...,...
44153,2022-11-20,Slovenia,Montenegro,1.0,0.0,Friendly,False,2022
44154,2022-11-20,South Africa,Angola,1.0,1.0,Friendly,False,2022
44155,2022-11-20,Saint Lucia,San Marino,1.0,0.0,Friendly,False,2022
44156,2022-11-20,Syria,Venezuela,1.0,2.0,Friendly,True,2022
44157,2022-11-20,Uzbekistan,Russia,0.0,0.0,Friendly,False,2022

In [50]:
df_rankings = pd.read_csv('/content/drive/MyDrive/2022/BigData/fifa_ranking-2022-10-06.csv')
df_rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31
3,99,Latvia,LVA,10.0,0.0,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.0,0.0,0,CAF,1992-12-31

In [51]:
df_rankings = df_rankings.replace({"IR Iran":"Iran"})
df_rankings = df_rankings.replace({"USA" : "United States"})
df_rankings = df_rankings.replace({"Korea Republic" : "South Korea"})
# df_rankings = df_rankings.replace({"Korea DPR" : "South Korea"})

# ranking data를 13년도부터 사용하도록 수정
df_rankings = df_rankings.loc[df_rankings['rank_date']>='2013-01-01'].loc[df_rankings['rank_date'] <='2022-12-31'] # Modified_for_latest_ranking

In [52]:
df_rankings = pd.DataFrame(df_rankings, columns = ['country_full', 'total_points', 'rank_date']).reset_index(drop=True)
df_rankings.shape[0]

20936

In [53]:
df_rankings['rank_date'] = pd.to_datetime(df_rankings['rank_date'])
# df_rankings['year'] = df_rankings['rank_date'].dt.year   # Modified_for_latest_ranking : rank 파일에서 year 추출부 삭제
df_rankings.head()

    country_full  total_points  rank_date
0         Belize         110.0 2013-01-17
1      Hong Kong         111.0 2013-01-17
2         Kuwait         276.0 2013-01-17
3  Faroe Islands         151.0 2013-01-17
4      Palestine         154.0 2013-01-17

In [54]:
# Modified_for_latest_ranking : 

# df_rankings.sort_values(by=['rank_date','year'],inplace=True, ascending=False)
# latest_rankdate_index = df_rankings[['country_full', 'year']].drop_duplicates().index
# df_rankings = df_rankings.loc[lambda x : x.index.isin(latest_rankdate_index)]

df_rankings.sort_values(by=['rank_date'],inplace=True, ascending=False)

In [55]:
dataset = df_results
dataset['home_team_total_points'] = np.nan
dataset['away_team_total_points'] = np.nan

In [56]:
for index in notebook.tqdm(dataset.index):
  team1 = dataset.loc[index, ['home_team']]
  team2 = dataset.loc[index, ['away_team']]
  date = dataset.loc[index, ['date']] # Modified_for_latest_ranking
  date = str(date[0])[:10]  # Modified_for_latest_ranking
  team1 = team1[0]
  team2 = team2[0]
  try:
    # Modified_for_latest_ranking
    # data1 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team1) & (df_rankings['year'] == year)]
    data1 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team1) & (df_rankings['rank_date'] <= date)].to_frame().iloc[0]
    # data2 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team2) & (df_rankings['year'] == year)]
    data2 = df_rankings['total_points'].loc[(df_rankings['country_full'] == team2) & (df_rankings['rank_date'] <= date)].to_frame().iloc[0]

    dataset.loc[index, ['home_team_total_points']] = float(data1)
    dataset.loc[index, ['away_team_total_points']] = float(data2)
  except:
        continue

  0%|          | 0/8049 [00:00<?, ?it/s]

In [57]:
dataset.shape[0]

8049

In [58]:
dataset

,date,home_team,away_team,home_score,away_score,tournament,neutral,year,home_team_total_points,away_team_total_points
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,True,2014,315.00,536.00
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,True,2014,292.00,536.00
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,False,2014,237.00,849.00
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,False,2014,710.00,374.00
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,False,2014,325.00,315.00
...,...,...,...,...,...,...,...,...,...,...
44153,2022-11-20,Slovenia,Montenegro,1.0,0.0,Friendly,False,2022,1384.04,1341.03
44154,2022-11-20,South Africa,Angola,1.0,1.0,Friendly,False,2022,1349.59,1155.90
44155,2022-11-20,Saint Lucia,San Marino,1.0,0.0,Friendly,False,2022,NaN,NaN
44156,2022-11-20,Syria,Venezuela,1.0,2.0,Friendly,True,2022,1255.92,1404.37
44157,2022-11-20,Uzbekistan,Russia,0.0,0.0,Friendly,False,2022,1309.98,1496.11

In [59]:
dataset.isnull().sum()

date                         0
home_team                    0
away_team                    0
home_score                   0
away_score                   0
tournament                   0
neutral                      0
year                         0
home_team_total_points    1185
away_team_total_points    1185
dtype: int64

In [60]:
dataset = dataset.dropna(axis = 0)

In [61]:
dataset.isnull().sum()

date                      0
home_team                 0
away_team                 0
home_score                0
away_score                0
tournament                0
neutral                   0
year                      0
home_team_total_points    0
away_team_total_points    0
dtype: int64

In [62]:
dataset.shape[0]

6864

## player 14 ~ 23년도 데이터 불러오고 처리하기

In [63]:
dataset.head()

,date,home_team,away_team,home_score,away_score,tournament,neutral,year,home_team_total_points,away_team_total_points
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,True,2014,315.0,536.0
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,True,2014,292.0,536.0
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,False,2014,237.0,849.0
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,False,2014,710.0,374.0
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,False,2014,325.0,315.0

In [64]:
# FIFA 15-23 player 최종본 
df_player14 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=0)
df_player15 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=1)
df_player16 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=2)
df_player17 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=3)
df_player18 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=4)
df_player19 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=5)
df_player20 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=6)
df_player21 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=7)
df_player22 = pd.read_excel("/content/drive/MyDrive/2022/BigData/FIFA 15-23_Edited_Attributes.xlsx", sheet_name=8)

In [65]:
df_player14['year'] = 2014
df_player15['year'] = 2015
df_player16['year'] = 2016
df_player17['year'] = 2017
df_player18['year'] = 2018
df_player19['year'] = 2019
df_player20['year'] = 2020
df_player21['year'] = 2021
df_player22['year'] = 2022

In [66]:
df_player = pd.concat([df_player14, df_player15, df_player16, df_player17, df_player18, df_player19, df_player20, df_player21, df_player22], ignore_index=True)

In [67]:
# nationality_name, Model_Position, year 로 group by 한 후, Position_Best_Rating 에 대해 rank 매기기 
df_player['rank_in_nation'] = df_player.groupby(['nationality_name','Model_Position', 'year'])['Position_Best_Rating'].rank(method='first',ascending=False)

In [68]:
df_player = df_player.astype({'rank_in_nation':'int'})
df_player.head()

,short_name,overall,nationality_name,preferred_foot,pace,shooting,passing,dribbling,defending,physic,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,year,rank_in_nation
0,A. Meha,70,Albania,Right,73,71,70,73,46,60,9,12,14,8,13,70,M,2014,3
1,E. Berisha,72,Albania,Left,0,0,0,0,0,0,76,71,64,71,76,72,K,2014,1
2,E. Hysaj,67,Albania,Left,76,47,56,66,64,73,11,5,13,8,10,67,B,2014,3
3,E. Kace,69,Albania,Right,73,64,67,70,65,65,6,15,14,7,11,69,M,2014,4
4,J. Hyka,70,Albania,Right,82,62,60,78,34,51,8,9,13,9,7,72,T,2014,2

In [69]:
df_player = df_player.replace({"Korea Republic":"South Korea"})

In [70]:
# # 선수 dataset 모든 feature 합치기 
# for i in player_features:
#   col1 = 'home_'+ str(i)
#   col2 = 'away_'+ str(i)
#   dataset[col1] = np.nan
#   dataset[col2] = np.nan

In [71]:
# player datset 처리하기 
df_player['preferred_foot'] = np.where(df_player['preferred_foot'] == "Left", 1, 0)

In [72]:
df_player

,short_name,overall,nationality_name,preferred_foot,pace,shooting,passing,dribbling,defending,physic,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,Position_Best_Rating,Model_Position,year,rank_in_nation
0,A. Meha,70,Albania,0,73,71,70,73,46,60,9,12,14,8,13,70,M,2014,3
1,E. Berisha,72,Albania,1,0,0,0,0,0,0,76,71,64,71,76,72,K,2014,1
2,E. Hysaj,67,Albania,1,76,47,56,66,64,73,11,5,13,8,10,67,B,2014,3
3,E. Kace,69,Albania,0,73,64,67,70,65,65,6,15,14,7,11,69,M,2014,4
4,J. Hyka,70,Albania,0,82,62,60,78,34,51,8,9,13,9,7,72,T,2014,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8069,L. Banda,65,Zambia,0,89,63,52,70,30,44,8,14,6,14,10,52,B,2022,4
8070,L. Musonda,66,Zambia,0,86,60,55,69,57,62,12,5,6,11,5,65,B,2022,1
8071,M. Chaiwa,55,Zambia,0,74,36,47,54,51,68,7,15,9,15,8,58,B,2022,3
8072,P. Daka,77,Zambia,0,90,78,60,75,24,70,8,6,9,5,11,79,T,2022,1
8073,S. Sunzu,73,Zambia,0,39,41,49,50,74,84,14,15,12,9,10,69,M,2022,2

## Datset과 Player 데이터 합치기

In [73]:
player_features = df_player.keys().to_list()[1:-3]
player_features.pop(1)
player_features

['overall',
 'preferred_foot',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'Position_Best_Rating']

In [74]:
# home team 
for j in player_features:
  # 수비수 4명
  for i in range(1, 5):
    col = 'home_B'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 미드필더 4명 
  for i in range(1, 5):
    col = 'home_M'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 공격수 2명 
  for i in range(1, 3):
    col = 'home_T'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 골키퍼 1명 
  col = 'home_K1_'+str(j)
  dataset[col] = np.nan

<ipython-input-74-883482740806>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan
<ipython-input-74-883482740806>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan
<ipython-input-74-883482740806>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan
<ipython-input-74-883482740806>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan
<ipython-input-74-883482740806>:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-74-883482740806>:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-74-883482740806>:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-74-883482740806>:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan

In [75]:
# away team 
for j in player_features:
  # 수비수 4명
  for i in range(1, 5):
    col = 'away_B'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 미드필더 4명 
  for i in range(1, 5):
    col = 'away_M'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 공격수 2명 
  for i in range(1, 3):
    col = 'away_T'+str(i)+'_'+str(j)
    dataset[col] = np.nan

  # 골키퍼 1명 
  col = 'away_K1_'+str(j)
  dataset[col] = np.nan

<ipython-input-75-dc677b9a387d>:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-75-dc677b9a387d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan
<ipython-input-75-dc677b9a387d>:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-75-dc677b9a387d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan
<ipython-input-75-dc677b9a387d>:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-75-dc677b9a387d>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan
<ipython-input-75-dc677b9a387d>:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  dataset[col] = np.nan
<ipython-input-75-dc677b9a387d>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[col] = np.nan

In [76]:
dataset

,date,home_team,away_team,home_score,away_score,tournament,neutral,year,home_team_total_points,away_team_total_points,...,away_B2_Position_Best_Rating,away_B3_Position_Best_Rating,away_B4_Position_Best_Rating,away_M1_Position_Best_Rating,away_M2_Position_Best_Rating,away_M3_Position_Best_Rating,away_M4_Position_Best_Rating,away_T1_Position_Best_Rating,away_T2_Position_Best_Rating,away_K1_Position_Best_Rating
36109,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,True,2014,315.00,536.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36110,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,True,2014,292.00,536.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36111,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,False,2014,237.00,849.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36112,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,False,2014,710.00,374.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36113,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,False,2014,325.00,315.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44152,2022-11-20,Slovakia,Chile,0.0,0.0,Friendly,False,2022,1425.59,1509.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44153,2022-11-20,Slovenia,Montenegro,1.0,0.0,Friendly,False,2022,1384.04,1341.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44154,2022-11-20,South Africa,Angola,1.0,1.0,Friendly,False,2022,1349.59,1155.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44156,2022-11-20,Syria,Venezuela,1.0,2.0,Friendly,True,2022,1255.92,1404.37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44157,2022-11-20,Uzbekistan,Russia,0.0,0.0,Friendly,False,2022,1309.98,1496.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
dataset.columns.to_list()

['date',
 'home_team',
 'away_team',
 'home_score',
 'away_score',
 'tournament',
 'neutral',
 'year',
 'home_team_total_points',
 'away_team_total_points',
 'home_B1_overall',
 'home_B2_overall',
 'home_B3_overall',
 'home_B4_overall',
 'home_M1_overall',
 'home_M2_overall',
 'home_M3_overall',
 'home_M4_overall',
 'home_T1_overall',
 'home_T2_overall',
 'home_K1_overall',
 'home_B1_preferred_foot',
 'home_B2_preferred_foot',
 'home_B3_preferred_foot',
 'home_B4_preferred_foot',
 'home_M1_preferred_foot',
 'home_M2_preferred_foot',
 'home_M3_preferred_foot',
 'home_M4_preferred_foot',
 'home_T1_preferred_foot',
 'home_T2_preferred_foot',
 'home_K1_preferred_foot',
 'home_B1_pace',
 'home_B2_pace',
 'home_B3_pace',
 'home_B4_pace',
 'home_M1_pace',
 'home_M2_pace',
 'home_M3_pace',
 'home_M4_pace',
 'home_T1_pace',
 'home_T2_pace',
 'home_K1_pace',
 'home_B1_shooting',
 'home_B2_shooting',
 'home_B3_shooting',
 'home_B4_shooting',
 'home_M1_shooting',
 'home_M2_shooting',
 'home_M3_shooting',
 'home_M4_shooting',
 'home_T1_shooting',
 'home_T2_shooting',
 'home_K1_shooting',
 'home_B1_passing',
 'home_B2_passing',
 'home_B3_passing',
 'home_B4_passing',
 'home_M1_passing',
 'home_M2_passing',
 'home_M3_passing',
 'home_M4_passing',
 'home_T1_passing',
 'home_T2_passing',
 'home_K1_passing',
 'home_B1_dribbling',
 'home_B2_dribbling',
 'home_B3_dribbling',
 'home_B4_dribbling',
 'home_M1_dribbling',
 'home_M2_dribbling',
 'home_M3_dribbling',
 'home_M4_dribbling',
 'home_T1_dribbling',
 'home_T2_dribbling',
 'home_K1_dribbling',
 'home_B1_defending',
 'home_B2_defending',
 'home_B3_defending',
 'home_B4_defending',
 'home_M1_defending',
 'home_M2_defending',
 'home_M3_defending',
 'home_M4_defending',
 'home_T1_defending',
 'home_T2_defending',
 'home_K1_defending',
 'home_B1_physic',
 'home_B2_physic',
 'home_B3_physic',
 'home_B4_physic',
 'home_M1_physic',
 'home_M2_physic',
 'home_M3_physic',
 'home_M4_physic',
 'home_T1_physic',
 'home_T2_physic',
 'home_K1_physic',
 'home_B1_goalkeeping_diving',
 'home_B2_goalkeeping_diving',
 'home_B3_goalkeeping_diving',
 'home_B4_goalkeeping_diving',
 'home_M1_goalkeeping_diving',
 'home_M2_goalkeeping_diving',
 'home_M3_goalkeeping_diving',
 'home_M4_goalkeeping_diving',
 'home_T1_goalkeeping_diving',
 'home_T2_goalkeeping_diving',
 'home_K1_goalkeeping_diving',
 'home_B1_goalkeeping_handling',
 'home_B2_goalkeeping_handling',
 'home_B3_goalkeeping_handling',
 'home_B4_goalkeeping_handling',
 'home_M1_goalkeeping_handling',
 'home_M2_goalkeeping_handling',
 'home_M3_goalkeeping_handling',
 'home_M4_goalkeeping_handling',
 'home_T1_goalkeeping_handling',
 'home_T2_goalkeeping_handling',
 'home_K1_goalkeeping_handling',
 'home_B1_goalkeeping_kicking',
 'home_B2_goalkeeping_kicking',
 'home_B3_goalkeeping_kicking',
 'home_B4_goalkeeping_kicking',
 'home_M1_goalkeeping_kicking',
 'home_M2_goalkeeping_kicking',
 'home_M3_goalkeeping_kicking',
 'home_M4_goalkeeping_kicking',
 'home_T1_goalkeeping_kicking',
 'home_T2_goalkeeping_kicking',
 'home_K1_goalkeeping_kicking',
 'home_B1_goalkeeping_positioning',
 'home_B2_goalkeeping_positioning',
 'home_B3_goalkeeping_positioning',
 'home_B4_goalkeeping_positioning',
 'home_M1_goalkeeping_positioning',
 'home_M2_goalkeeping_positioning',
 'home_M3_goalkeeping_positioning',
 'home_M4_goalkeeping_positioning',
 'home_T1_goalkeeping_positioning',
 'home_T2_goalkeeping_positioning',
 'home_K1_goalkeeping_positioning',
 'home_B1_goalkeeping_reflexes',
 'home_B2_goalkeeping_reflexes',
 'home_B3_goalkeeping_reflexes',
 'home_B4_goalkeeping_reflexes',
 'home_M1_goalkeeping_reflexes',
 'home_M2_goalkeeping_reflexes',
 'home_M3_goalkeeping_reflexes',
 'home_M4_goalkeeping_reflexes',
 'home_T1_goalkeeping_reflexes',
 'home_T2_goalkeeping_reflexes',
 'home_K1_goalkeeping_reflexes',
 'home_B1_Position_Best_Rating',
 'home_B2_Position_Best_Rating',
 'home_B3_Position_Best_Rating',
 'home_B4_Position_Best_Rating',
 'home_M1_Position_Best_Rating',
 'home_M2_Position_Best_Rating',
 'home_M3_Position_Best_Rating',
 'home_M4_Position_Best_Rating',
 'home_T1_Position_Best_Rating',
 'home_T2_Position_Best_Rating',
 'home_K1_Position_Best_Rating',
 'away_B1_overall',
 'away_B2_overall',
 'away_B3_overall',
 'away_B4_overall',
 'away_M1_overall',
 'away_M2_overall',
 'away_M3_overall',
 'away_M4_overall',
 'away_T1_overall',
 'away_T2_overall',
 'away_K1_overall',
 'away_B1_preferred_foot',
 'away_B2_preferred_foot',
 'away_B3_preferred_foot',
 'away_B4_preferred_foot',
 'away_M1_preferred_foot',
 'away_M2_preferred_foot',
 'away_M3_preferred_foot',
 'away_M4_preferred_foot',
 'away_T1_preferred_foot',
 'away_T2_preferred_foot',
 'away_K1_preferred_foot',
 'away_B1_pace',
 'away_B2_pace',
 'away_B3_pace',
 'away_B4_pace',
 'away_M1_pace',
 'away_M2_pace',
 'away_M3_pace',
 'away_M4_pace',
 'away_T1_pace',
 'away_T2_pace',
 'away_K1_pace',
 'away_B1_shooting',
 'away_B2_shooting',
 'away_B3_shooting',
 'away_B4_shooting',
 'away_M1_shooting',
 'away_M2_shooting',
 'away_M3_shooting',
 'away_M4_shooting',
 'away_T1_shooting',
 'away_T2_shooting',
 'away_K1_shooting',
 'away_B1_passing',
 'away_B2_passing',
 'away_B3_passing',
 'away_B4_passing',
 'away_M1_passing',
 'away_M2_passing',
 'away_M3_passing',
 'away_M4_passing',
 'away_T1_passing',
 'away_T2_passing',
 'away_K1_passing',
 'away_B1_dribbling',
 'away_B2_dribbling',
 'away_B3_dribbling',
 'away_B4_dribbling',
 'away_M1_dribbling',
 'away_M2_dribbling',
 'away_M3_dribbling',
 'away_M4_dribbling',
 'away_T1_dribbling',
 'away_T2_dribbling',
 'away_K1_dribbling',
 'away_B1_defending',
 'away_B2_defending',
 'away_B3_defending',
 'away_B4_defending',
 'away_M1_defending',
 'away_M2_defending',
 'away_M3_defending',
 'away_M4_defending',
 'away_T1_defending',
 'away_T2_defending',
 'away_K1_defending',
 'away_B1_physic',
 'away_B2_physic',
 'away_B3_physic',
 'away_B4_physic',
 'away_M1_physic',
 'away_M2_physic',
 'away_M3_physic',
 'away_M4_physic',
 'away_T1_physic',
 'away_T2_physic',
 'away_K1_physic',
 'away_B1_goalkeeping_diving',
 'away_B2_goalkeeping_diving',
 'away_B3_goalkeeping_diving',
 'away_B4_goalkeeping_diving',
 'away_M1_goalkeeping_diving',
 'away_M2_goalkeeping_diving',
 'away_M3_goalkeeping_diving',
 'away_M4_goalkeeping_diving',
 'away_T1_goalkeeping_diving',
 'away_T2_goalkeeping_diving',
 'away_K1_goalkeeping_diving',
 'away_B1_goalkeeping_handling',
 'away_B2_goalkeeping_handling',
 'away_B3_goalkeeping_handling',
 'away_B4_goalkeeping_handling',
 'away_M1_goalkeeping_handling',
 'away_M2_goalkeeping_handling',
 'away_M3_goalkeeping_handling',
 'away_M4_goalkeeping_handling',
 'away_T1_goalkeeping_handling',
 'away_T2_goalkeeping_handling',
 'away_K1_goalkeeping_handling',
 'away_B1_goalkeeping_kicking',
 'away_B2_goalkeeping_kicking',
 'away_B3_goalkeeping_kicking',
 'away_B4_goalkeeping_kicking',
 'away_M1_goalkeeping_kicking',
 'away_M2_goalkeeping_kicking',
 'away_M3_goalkeeping_kicking',
 'away_M4_goalkeeping_kicking',
 'away_T1_goalkeeping_kicking',
 'away_T2_goalkeeping_kicking',
 'away_K1_goalkeeping_kicking',
 'away_B1_goalkeeping_positioning',
 'away_B2_goalkeeping_positioning',
 'away_B3_goalkeeping_positioning',
 'away_B4_goalkeeping_positioning',
 'away_M1_goalkeeping_positioning',
 'away_M2_goalkeeping_positioning',
 'away_M3_goalkeeping_positioning',
 'away_M4_goalkeeping_positioning',
 'away_T1_goalkeeping_positioning',
 'away_T2_goalkeeping_positioning',
 'away_K1_goalkeeping_positioning',
 'away_B1_goalkeeping_reflexes',
 'away_B2_goalkeeping_reflexes',
 'away_B3_goalkeeping_reflexes',
 'away_B4_goalkeeping_reflexes',
 'away_M1_goalkeeping_reflexes',
 'away_M2_goalkeeping_reflexes',
 'away_M3_goalkeeping_reflexes',
 'away_M4_goalkeeping_reflexes',
 'away_T1_goalkeeping_reflexes',
 'away_T2_goalkeeping_reflexes',
 'away_K1_goalkeeping_reflexes',
 'away_B1_Position_Best_Rating',
 'away_B2_Position_Best_Rating',
 'away_B3_Position_Best_Rating',
 'away_B4_Position_Best_Rating',
 'away_M1_Position_Best_Rating',
 'away_M2_Position_Best_Rating',
 'away_M3_Position_Best_Rating',
 'away_M4_Position_Best_Rating',
 'away_T1_Position_Best_Rating',
 'away_T2_Position_Best_Rating',
 'away_K1_Position_Best_Rating']

In [78]:
dataset.shape

(6864, 318)

In [ ]:
for index in notebook.tqdm(dataset.index):
  team1 = dataset.loc[index, ['home_team']]
  team2 = dataset.loc[index, ['away_team']]
  
  year = dataset.loc[index, ['year']]
  year = int(year)

  team1 = team1[0]
  team2 = team2[0]

  # position B (수비수) 4명 
  for i in range(1, 5):
    for j in player_features:
      col_str1 = 'home_B'+str(i)+'_'+str(j)
      col_str2 = 'away_B'+str(i)+'_'+str(j)
      try:
        temp1 = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
        temp2 = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'B') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
        dataset.loc[index, [col_str1]] = float(temp1)
        dataset.loc[index, [col_str2]] = float(temp2)
      except:
        continue

  # position M (미드필더) 4명 
  for i in range(1, 5):
    for j in player_features:
      col_str1 = 'home_M'+str(i)+'_'+str(j)
      col_str2 = 'away_M'+str(i)+'_'+str(j)
      try:
        temp1 = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
        temp2 = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'M') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
        dataset.loc[index, [col_str1]] = float(temp1)
        dataset.loc[index, [col_str2]] = float(temp2)
      except:
        continue
        
  # position (공격수) 2명 -> T
  for i in range(1, 3):
    for j in player_features:
      col_str1 = 'home_T'+str(i)+'_'+str(j)
      col_str2 = 'away_T'+str(i)+'_'+str(j)
      try:
        temp1 = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
        temp2 = df_player[str(j)].loc[(df_player['rank_in_nation'] == i) & (df_player['Model_Position'] == 'T') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
        dataset.loc[index, [col_str1]] = float(temp1)
        dataset.loc[index, [col_str2]] = float(temp2)
      except:
        continue

  # # 골키퍼 
  for j in player_features:
    col_str1 = 'home_K1_'+str(j)
    col_str2 = 'away_K1_'+str(j)
    try:
      temp1 = df_player[str(j)].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team1 ) & (df_player['year'] == year)]
      temp2 = df_player[str(j)].loc[(df_player['rank_in_nation'] == 1) & (df_player['Model_Position'] == 'K') & (df_player['nationality_name'] == team2 ) & (df_player['year'] == year)]
      dataset.loc[index, [col_str1]] = float(temp1)
      dataset.loc[index, [col_str2]] = float(temp2)
    except:
      continue

  0%|          | 0/6864 [00:00<?, ?it/s]

In [ ]:
new_dataset = dataset

In [ ]:
new_dataset.isnull().sum()  # Null 값이 있으면 안 됩니다. 그렇게 데이터를 구성했습니다. 확인 후 Null 값이 존재한다면 코드를 다시 살펴봐야 합니다.

In [ ]:
# new_dataset = new_dataset.drop(['date', 'country', 'city'], axis=1) # value_eur 도 삭제하기 -> 앞에서 미리 삭제했습니다.
new_dataset = new_dataset.drop(['date', 'year'], axis=1)  # 14의 feature를 제외한 다른 feature들은 Excel 자체에서 처리 완료되었습니다.

In [ ]:
new_dataset.shape[0]

In [ ]:
new_dataset.to_csv('fifa_dataset_with_all_features.csv') # 최종 dataset 출력