DataFrame

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df_results=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/fifa/results.csv")

In [4]:
df_results = df_results.loc[df_results['date']>='2014-01-01'].loc[df_results['date']<'2022-12-31']
# 결측값있는 행 제거 
df_results.dropna(axis=0)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
36110,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True
36111,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True
36112,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False
36113,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False
36114,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False
...,...,...,...,...,...,...,...,...,...
44054,2022-09-27,Albania,Iceland,1.0,1.0,UEFA Nations League,Tirana,Albania,False
44055,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False
44056,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False
44057,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False
44058,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False

In [5]:
df_rankings = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/fifa/fifa_ranking-2022-10-06.csv')
df_rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.0,0.0,0,UEFA,1992-12-31
1,96,Syria,SYR,11.0,0.0,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.0,0.0,0,CAF,1992-12-31
3,99,Latvia,LVA,10.0,0.0,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.0,0.0,0,CAF,1992-12-31

In [6]:
df_rankings = df_rankings.replace({"IR Iran":"Iran"})
df_rankings = df_rankings.loc[df_rankings['rank_date']>='2014-01-01'].loc[df_rankings['rank_date'] <='2022-12-31']

In [7]:
df_rankings = pd.DataFrame(df_rankings, columns = ['country_full', 'total_points', 'rank_date']).reset_index(drop=True)
df_rankings.head()

         country_full  total_points   rank_date
0  Cape Verde Islands         726.0  2014-01-16
1              Turkey         677.0  2014-01-16
2             Tunisia         689.0  2014-01-16
3            Honduras         692.0  2014-01-16
4                Peru         698.0  2014-01-16

In [8]:
df_rankings['rank_date'] = pd.to_datetime(df_rankings['rank_date'])
df_rankings['year'] = df_rankings['rank_date'].dt.year
df_rankings.head()

         country_full  total_points  rank_date  year
0  Cape Verde Islands         726.0 2014-01-16  2014
1              Turkey         677.0 2014-01-16  2014
2             Tunisia         689.0 2014-01-16  2014
3            Honduras         692.0 2014-01-16  2014
4                Peru         698.0 2014-01-16  2014

In [9]:
# # 시간 최신순으로 정렬후 중복 제거 
# df_rankings_15.sort_values(by=['rank_date'],inplace=True, ascending=False)
# latest_rankdate_index = df_rankings_15[['country_full']].drop_duplicates().index
# df_rankings_15 = df_rankings_15.loc[lambda x : x.index.isin(latest_rankdate_index)]
# df_rankings_15.sort_values(by=['total_points'],inplace=True, ascending=False)
# df_rankings_15.head()

In [10]:
df_rankings.sort_values(by=['rank_date','year'],inplace=True, ascending=False)
latest_rankdate_index = df_rankings[['country_full', 'year']].drop_duplicates().index
df_rankings = df_rankings.loc[lambda x : x.index.isin(latest_rankdate_index)]

In [11]:
# result table, ranking table 을 year 기준으로 join 하기 
df_results['date'] = pd.to_datetime(df_results['date'])
df_results['year'] = df_results['date'].dt.year
df_results.reset_index(drop=True)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True,2014
1,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True,2014
2,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False,2014
3,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False,2014
4,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False,2014
...,...,...,...,...,...,...,...,...,...,...
7945,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False,2022
7946,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False,2022
7947,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False,2022
7948,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False,2022
7949,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True,2022

In [12]:
df_results.tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
44055,2022-09-27,Norway,Serbia,0.0,2.0,UEFA Nations League,Oslo,Norway,False,2022
44056,2022-09-27,Sweden,Slovenia,1.0,1.0,UEFA Nations League,Stockholm,Sweden,False,2022
44057,2022-09-27,Kosovo,Cyprus,5.0,1.0,UEFA Nations League,Pristina,Kosovo,False,2022
44058,2022-09-27,Greece,Northern Ireland,3.0,1.0,UEFA Nations League,Athens,Greece,False,2022
44059,2022-09-30,Fiji,Solomon Islands,NaN,NaN,MSG Prime Minister's Cup,Luganville,Vanuatu,True,2022

In [13]:
df_rankings.head()

              country_full  total_points  rank_date  year
18253            Nicaragua       1071.83 2022-10-06  2022
18254              Burundi       1076.26 2022-10-06  2022
18255  St. Kitts and Nevis       1076.91 2022-10-06  2022
18256         Turkmenistan       1100.47 2022-10-06  2022
18257             Ethiopia       1091.19 2022-10-06  2022

In [14]:
nationality_names = df_results['home_team'].to_list() + df_results['away_team'].to_list() + df_rankings['country_full'].to_list() 
nationality_names = list(set(nationality_names))

In [15]:
print(len(nationality_names))

303

In [16]:
dataset = df_results
dataset['home_team_total_points'] = np.nan
dataset['away_team_total_points'] = np.nan

In [17]:
a = df_rankings['total_points'].loc[df_rankings['country_full'] == 'Germany'].loc[df_rankings['year'] == 2014]
print(a)

2471    1725.0
Name: total_points, dtype: float64

In [18]:
team1 = dataset.loc[43605, ['home_team']]
dataset.loc[43605, ['away_team']]

away_team    Guatemala
Name: 43605, dtype: object

In [19]:
dataset.loc[43604, ['home_team_total_points']] = 1000
dataset.loc[43604, ['home_team_total_points']]

home_team_total_points    1000.0
Name: 43604, dtype: object

In [20]:
yyyy = dataset.loc[43605, ['year']]
yyyy = int(yyyy)

In [21]:
a = df_rankings.loc[df_rankings['year'] == 2022]
a

              country_full  total_points  rank_date  year
18253            Nicaragua       1071.83 2022-10-06  2022
18254              Burundi       1076.26 2022-10-06  2022
18255  St. Kitts and Nevis       1076.91 2022-10-06  2022
18256         Turkmenistan       1100.47 2022-10-06  2022
18257             Ethiopia       1091.19 2022-10-06  2022
...                    ...           ...        ...   ...
18460                 Oman       1320.29 2022-10-06  2022
18461               Israel       1316.55 2022-10-06  2022
18462              Georgia       1307.34 2022-10-06  2022
18463           San Marino        762.22 2022-10-06  2022
17921               Turkey       1475.13 2022-06-23  2022

[212 rows x 4 columns]

In [29]:

team1 = dataset.loc[dataset.index[0], ['home_team']]
team1 = team1[0]
print(team1)

Kuwait

In [36]:
df_rankings['total_points'].loc[df_rankings['country_full'] == team1]
#.loc[df_rankings[2022]]

18267    1053.41
17284    1064.02
15665    1060.00
13949    1060.00
12344    1018.00
9724       52.00
7317      120.00
4776      239.00
2337      246.00
Name: total_points, dtype: float64

In [39]:
df_rankings['total_points'].loc[df_rankings['year'] == 2022]

18253    1071.83
18254    1076.26
18255    1076.91
18256    1100.47
18257    1091.19
          ...
18460    1320.29
18461    1316.55
18462    1307.34
18463     762.22
17921    1475.13
Name: total_points, Length: 212, dtype: float64

In [44]:
year = df_rankings.loc[18253, ['year']]
year = int(year)

In [45]:
df_rankings['total_points'].loc[df_rankings['year'] == year]

18253    1071.83
18254    1076.26
18255    1076.91
18256    1100.47
18257    1091.19
          ...
18460    1320.29
18461    1316.55
18462    1307.34
18463     762.22
17921    1475.13
Name: total_points, Length: 212, dtype: float64

In [70]:
for index in dataset.index:
  team1 = dataset.loc[index, ['home_team']]
  team2 = dataset.loc[index, ['away_team']]
  year = dataset.loc[index, ['year']]
  year = int(year)
  team1 = team1[0]
  team2 = team2[0]
  try:
    dataset.loc[index, ['home_team_total_points']] = int(df_rankings['total_points'].loc[df_rankings['country_full'] == team1].loc[df_rankings['year'] == year])
    dataset.loc[index, ['away_team_total_points']] = int(df_rankings['total_points'].loc[df_rankings['country_full'] == team2].loc[df_rankings['year'] == year])
  except:
    continue

In [71]:
dataset.head() # city, country, year drop 하기

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,home_team_total_points,away_team_total_points
36110,2014-01-01,Kuwait,Jordan,1.0,2.0,WAFF Championship,Doha,Qatar,True,2014,246.0,393.0
36111,2014-01-04,Bahrain,Jordan,0.0,1.0,WAFF Championship,Doha,Qatar,True,2014,249.0,393.0
36112,2014-01-04,Namibia,Ghana,0.0,1.0,Friendly,Windhoek,Namibia,False,2014,295.0,714.0
36113,2014-01-04,Nigeria,Ethiopia,2.0,1.0,Friendly,Abuja,Nigeria,False,2014,656.0,290.0
36114,2014-01-04,Qatar,Kuwait,3.0,0.0,WAFF Championship,Doha,Qatar,False,2014,342.0,246.0

player 데이터 합치기

In [26]:
# player data : home_B1_point,